<html>

<head>
    <title>SISO</title>
    <link href="/src/main/webapp/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/src/main/webapp/assets/css/util.css" rel="stylesheet">
    <style>
        .feather {
            width: 16px;
            height: 16px;
            stroke: currentColor;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;
            position: relative;
            top: -2.5;
        }
    </style>
</head>

<body class="bg-light bg-gradient">
    <nav class="navbar navbar-expand-lg navbar-dark bg-azul shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/src/main/webapp/views/common/login.jsp">Sistema de Seguimiento a Oficios</a>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="card shadow-sm">
            <h5 class="card-header">Perfil</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p class="fw-bold m-0">
                            Nombre de usuario:
                        </p>
                        <p>
                            asdasdsa
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fw-bold m-0">
                            Nombre:
                        </p>
                        <p>
                            Hermenegildo hermenegildo hermenegildez hermenegildez
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fw-bold m-0">
                            Correo electrónico:
                        </p>
                        <p>
                            asdasdsa
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fw-bold m-0">
                            Rol:
                        </p>
                        <p>
                            asdasdsa
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fw-bold m-0">
                            Departamento:
                        </p>
                        <p>
                            asdasdsa
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" height="1000px">
                        <button class="btn btn-verde">
                            <svg class="feather">
                                <use xlink:href="/src/main/webapp/assets/icons/feather-sprite.svg#edit" />
                            </svg>

                            Modificar datos

                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script src="/src/main/webapp/assets/js/bootstrap.bundle.js"></script>
</body>

</html>